/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09.apr.2014, 08:47:28
    Author     : Sygnious
*/

#topBar {
   padding: 20px;
   height: 30px;
   //margin-bottom: 10px;
   background: #fefeef;
   border: thin solid lightGray;
}

#sidebarLeft {
   border: thin solid lightGray;
   padding: 5px;
   width: 450px;
   height: 900px;
   background: #fefeef;
   top: 90px;
}

#content {
   padding: 5px;
   border: thin solid lightGray;
   background: #fefeef;
   position: absolute;
   right: 8px;
   left: 470px;
   height: 900px;
   top: 80px;
}

.header {
   font-size: 3.0em;
   font-weight: bold;
   font-family: Palatino;
   text-align: center;
}
.ui-button input{
    //font-weight: bold;
    font-size: 5.0em;
    //margin: 5px;
    //padding: 5px 5px 5px 20px; /* 20px makes room for your background image */
    //border: 1px
}

.ui-button buttonSize{
    width:300px;
    height:300px;
}

.bold {
    font-weight: bold;
}

.content-text{
    font-size: 2.0em;
}

.content-text-details{
    font-size: 1.5em;
}

.content-text-details-top{
    vertical-align: top;
    font-size: 1.5em;
}

.content-text-bold{
    font-size: 2.0em;
    font-weight: bold;
}






.planetImage {
   padding: 5px;
   text-align: center;
}

.planetImageSelected {
   padding: 5px;
   text-align: center;
   background: #fefeef;
   border: thin solid lightGray;
}

.welcome {
   font-style: italic;
   font-family: Palatino;
}

.welcomeImage {
   margin-top: 10px;
   text-align: center;
}
