#topBar {
   padding: 20px;
   height: 40px;
   margin-bottom: 10px;
   background: yellowgreen;
   border: 1px solid darkGray;
}

#sidebarLeft {
   border: thin solid lightGray;
   padding: 5px;
   width: 200px;
   height: 700px;
   background: yellowgreen;
}

#content {
   padding: 5px;
   border: thin solid lightGray;
   background: #FFFF99;
   position: absolute;
   right: 8px;
   left: 230px;
   height: 1000px;
   top: 90px;
}
